
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f7fa 0%, #608acc 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #422061;
    font-weight: bold;
    
}

/* ការរៀបចំ Input */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
    text-transform: capitalize;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s;
    box-sizing: border-box; /* ការពារកុំឱ្យរីកលើស Card */
}

.input-group input:focus {
    border-color: #ff6600; /* ពណ៌ទឹកក្រូចដូច Theme អ្នក */
    outline: none;
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.2);
}

/* Error state ពេល User មិនទាន់បំពេញ */
.error-input {
    border: 1px solid #ff4d4d !important;
    background-color: #fffafa;
}

/* ចំណុច Forgot Password */
.forgot {
    text-align: right;
    margin-bottom: 25px;
}

.forgot a {
    font-size: 13px;
    color: #888;
    text-decoration: none;
}

.forgot a:hover {
    color: #ff6600;
}

/* ប៊ូតុង Login */
.login-btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(to right, #ff9933, #ff6600);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-transform: uppercase;
}

.login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 102, 0, 0.3);
}

/* ផ្នែក Social Icons */
.or {
    margin: 25px 0 15px;
    font-size: 14px;
    color: #999;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}

.fb { background-color: #3b5998; }
.tw { background-color: #1da1f2; }
.gg { background-color: #db4437; }

.icon:hover { opacity: 0.8; }

/* ផ្នែកខាងក្រោមបង្អស់ */
.signup-text {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.signup-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.signup-link:hover {
    color: #ff6600;
    text-decoration: underline;
}